<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>タイトル一覧</title>
</head>
<body>
  <h2>タイトル一覧</h2>
  <table>
    <tr><th>ID</th><th>タイトル名</th></tr>
      <% let number = 0 %>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><a href="/fromsoftware/<%= number %>"><%= row.name %></a></td></tr>
        <% number += 1 %>
      <% } %>
    <tr><td><a href="/fromsoftware/create"><%= "新規登録" %></a></td></tr>
  </table>
</body>
</html>